* {
	border: 0;
	margin : 0;
	padding: 0;

}

body, html {
  width:  100%;
  height: 100%;
}
body{
	background-color: crimson;
	//box-shadow: inset 0 0 100px 20px #930e28;
	text-align: center;
}

h1 {
	position: relative;
	font-family: 'Bangers', cursive;
	color: white;
	text-shadow: 3px 3px #9a0000;
	padding: 20px;
	font-size: 50px;
}
h5 {
	position: relative;
	font-family: 'Bangers', cursive;
	font-size: 	20px;
	color: white;
	text-shadow: 3px #9a0000;
	float: right;
	margin: 5px;
}
div#menuBox {
	width: 400px;
	height: auto;
	text-align: center;
	display: block;
	position: relative;
	margin: 30px auto;
	font-size: 50px;
}

div#backBox {
	width: 100px;
	height: auto;
	text-align: center;
	display: block;
	position: relative;
	margin: 30px auto;
	font-size: 30px;
	display: none;
}

div.button {
	display: block;
	position: relative;
	margin: 10px auto;
	background-color: #437fe0;
	border-radius: 5px;
	border-bottom: solid 5px #003a96;
	font-family: 'Bangers', cursive;
	padding: 10px;
	color: white;
	cursor: pointer;
}
div.button:hover {
	margin-top: 12px;
	background-color: #2b4fe0;
	border-bottom: solid 3px #003a96;
	transition: all 0.2s;
}
div#gameArea{
	width: 448px;
	height: 50px;
	position: relative;
	display: none;
	text-align: center;
	margin:auto;
}

#canvas {
	position: relative;
	margin: auto;
	display: none;
}

div#gameBtn{
	width: 225px;
	height: auto;
	float: right;
	position: relative;
	display: none;
	text-align: center;
}
#score{
	display: none;
	margin: 0 auto;
	float: left;
	font-family: "Bangers", cursive;
	font-size: 20px;
	color: white;
}

div.btnPlay {
	float: right;
	line-height: 20px;
	height: 20px;
	width: 50px;
	display: inline-block;
	position: relative;
	background-color: #437fe0;
	border-radius: 5px;
	font-family: 'Bangers', cursive;
	font-size: 20px;
	color: white;
	cursor: pointer;
	padding: 5px;
	
	
	margin: 2px auto;
	border-bottom: solid 5px #003a96;
}
div.btnPlay:hover {
	margin-top: 5px;
	background-color: #2b4fe0;
	border-bottom: solid 3px #003a96;
	transition: all 0.2s;
}


